@import "tailwindcss";

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --color-button-primary: rgb(76, 91, 31);
  --color-button-primary-hover: rgb(145, 156, 123);
  --color-button-secondary: rgb(225, 236, 202);
  --color-matcha: rgb(145, 156, 123);
  --color-primary-text: rgb(0, 0, 0);
  --color-secondary-text: rgb(111, 111, 111);
  --color-thirdary-text: rgb(146, 146, 146);
  --color-icon-primary: rgb(150, 150, 150);
  --color-line: rgb(233, 233, 233);
  --color-footer-text: rgb(72, 92, 17);
}
@font-face {
  font-family: "DM_Sans";
  src: url("/fonts/DM_Sans/DMSans.ttf");
}

@font-face {
  font-family: "Crimson_Text_regular";
  src: url("/fonts/Crimson_Text/CrimsonText-Regular.ttf");
}

@font-face {
  font-family: "Crimson_Text_bold";
  src: url("/fonts/Crimson_Text/CrimsonText-Bold.ttf");
}

@font-face {
  font-family: "Roboto_Mono";
  src: url("/fonts/Roboto_Mono/static/RobotoMono-Regular.ttf");
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.dm-sans {
  font-family: "DM_Sans", sans-serif;
}

.crimson-regular {
  font-family: "Crimson_Text_regular", serif;
  font-weight: 400;
}

.crimson-bold {
  font-family: "Crimson_Text_bold", serif;
  font-weight: 700;
}

.roboto-mono {
  font-family: "Roboto_Mono", monospace;
}
